@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components
@using GedBlazor.Components.Layout

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(GedBlazor.Components.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(GedBlazor.Components.Layout.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
