@page "/Error"

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error has occurred while processing your request.</h2>

<h3>Development Mode</h3>
<p>
    In Development mode, detailed information about the error is displayed.
    Switch to <strong>Production</strong> mode to avoid displaying sensitive information.
</p>
