@page "/"
@using Microsoft.AspNetCore.Components.Web
@using GedBlazor.Components

<PageTitle>GEDCOM viser</PageTitle>

<div class="container mt-4">
    
            <GedcomUploader />
            
</div>
