@page "/"

<PageTitle>Home</PageTitle>

<h1>GEDCOM Viewer</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <GedcomUploader />
        </div>
    </div>
</div>
